<div class="form-header">

    <!-- Bilingual -->
    <div *ngIf="bilingual" class="question-container" [@leftRightAnimation]>
        <div class="question-language-wrapper">
            <span class="language_icon"><img src="german.svg" /></span>
            <div #questionFieldDE contenteditable="true" class="form-question" (focus)="activateFormatButtons()"
                (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event,'DE')"
                [attr.data-placeholder]="'Text Eingeben...'"></div>
        </div>
        <div class="question-language-wrapper">
            <span class="language_icon"><img src="english.svg" /></span>
            <div #questionFieldEN contenteditable="true" class="form-question" (focus)="activateFormatButtons()"
                (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event, 'EN')"
                [attr.data-placeholder]="'Enter Text...'"></div>
        </div>
    </div>

    <!-- German -->
    <div *ngIf="!bilingual" #questionFieldDE contenteditable="true" class="form-question"
        (focus)="activateFormatButtons()" (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event,'DE')"
        [attr.data-placeholder]="'Enter Text...'"></div>
</div>

<!-- Buttons for formatting -->
<div *ngIf="isQuestionActive" [@inOutAnimation] class="form-toolbar">

    <div class="icon_wrapper format_icon" (mousedown)="setQuestionFormat('bold', $event)"
        [ngStyle]="{ 'background-color': isBold ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
        <mat-icon aria-hidden="false" fontIcon="format_bold"></mat-icon>
    </div>

    <div class="icon_wrapper format_icon" (mousedown)="setQuestionFormat('italic', $event)"
        [ngStyle]="{ 'background-color': isItalic ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
        <mat-icon aria-hidden="false" fontIcon="format_italic"></mat-icon>
    </div>

    <div class="icon_wrapper format_icon" (mousedown)="setQuestionFormat('underline', $event)"
        [ngStyle]="{ 'background-color': isUnderline ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
        <mat-icon aria-hidden="false" fontIcon="format_underline"></mat-icon>
    </div>
</div>




<app-task-footer 
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  [hasNoPoints]="true"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()" 
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()">
</app-task-footer>
