<!-- Footer -->
<div class="form-footer">
  <div class="footer-actions">
    <div class="icon_wrapper footer_icon_delete">
      <mat-icon
        aria-hidden="false"
        matTooltip="Delete"
        (click)="onDelete()"
      >delete</mat-icon>
    </div>

    @for (tag of task.tags; track tag) {
      <div
        class="tag"
        [ngStyle]="{ 'background-color': tag.color, color: tag.textColor }"
      >
        {{ tag.name }}
      </div>
    }

    <div class="icon_wrapper footer_icon">
      <mat-icon
        aria-hidden="false"
        matTooltip="add Tag"
        (click)="onAddTag()"
      >add</mat-icon>
    </div>

    @if (isModifiedPoolTask) {
      <div class="newTaskCheckbox_container">
        <input
          class="newTaskCheckbox"
          type="checkbox"
          name="newTaskCheckbox"
          [(ngModel)]="createNewTask"
          (change)="onCreateNewTaskChange()"
        />
        New Task
      </div>
    }

    @if (!hasNoPreview) {
      <div class="icon_wrapper footer_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Goto Preview"
          (click)="onPreview()"
        >preview</mat-icon>
      </div>
    }
  </div>

  @if (!hasNoPoints) {
    <div class="points">
      <mat-label>Points</mat-label>
      <input
        type="number"
        step="0.5"
        min="0.5"
        class="points_input"
        value="1"
        [(ngModel)]="this.task.points"
        (change)="updateTask()"
      />
    </div>
  }
</div>
