<!-- Main Question and Buttons for Styling -->
<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<div class="form-body">
  <div class="form-toolbar">
    <span class="spacer"></span>
    <div class="icon_wrapper">
      <mat-icon
        matTooltip="Select LaTeX Template"
        (click)="onOpenPreview()"
        aria-hidden="false"
        >style</mat-icon
      >
    </div>
    <div class="icon_wrapper">
      <mat-icon matTooltip="LaTeX Info">info</mat-icon>
    </div>
    <div class="icon_wrapper">
      <mat-icon matTooltip="Configure">settings</mat-icon>
    </div>
  </div>
  <!-- Latex Question Input -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>LaTeX Content</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      [(ngModel)]="this.task.questionLatex.DE"
      (blur)="updateTask()"
    ></textarea>
    <mat-hint>For available commands, click the info button above.</mat-hint>
  </mat-form-field>
</div>

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
