<!-- Main Question and Buttons for Styling -->
<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<!-- Latex Question Input -->
<div class="form-body">
  <span class="latex_input_label"
    >LaTeX content in this format -> \( &lt;content&gt; \)</span
  >
  <textarea
    class="latex_input"
    [(ngModel)]="this.task.questionLatex.DE"
    (blur)="updateTask()"
  ></textarea>
  <!-- <div  class="latex_preview_container">
    <span class="latex_input_label">Preview:</span>
    <app-math-jax-paragraph mathString="{{ task.questionLatex.DE }}"></app-math-jax-paragraph>
  </div> -->
</div>

<div class="icon_wrapper presets" (click)="onOpenPreview()">
  <mat-icon aria-hidden="false">style</mat-icon>
  Select LaTeX Template
</div>

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
