<!-- Main Question and Buttons for Styling -->
<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<div class="form-body">
  <div class="solution-header">
    Free Form
    <span class="spacer"></span>
    <div class="icon_wrapper">
      <mat-icon
        matTooltip="Select LaTeX Template"
        (click)="onOpenPreview()"
        aria-hidden="false"
        >style</mat-icon
      >
    </div>
    <div class="icon_wrapper">
      <mat-icon matTooltip="LaTeX Info">info</mat-icon>
    </div>
    <div class="icon_wrapper">
      <mat-icon matTooltip="Configure">settings</mat-icon>
    </div>
  </div>
  <!-- Latex Question Input -->
  <app-latex-textarea
    label="LaTeX Content"
    [value]="task.questionLatex.DE"
    (valueChange)="onLatexChange($event, 'DE')"
    (blur)="updateTask()"
  ></app-latex-textarea>
</div>

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
