<h2 mat-dialog-title>Update tasks or create new ones?</h2>
<mat-dialog-content>
  <div>
    {{ data.length }} tasks that came out of the task pool were modified. Choose
    whether to update or create a new one for each item below.
  </div>
  <div class="container">
    @for (task of data; track task.assignmentNumber; let i = $index) {
      <mat-card class="assignment-wrapper">
        <mat-card-content>
          <div class="subtask-id">{{ task.assignmentNumber }}</div>
          <div class="text">{{ task.task.question.DE }}</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <mat-button-toggle-group
            [name]="'assignment' + task.assignmentNumber"
            [(ngModel)]="toggleValues[i]"
          >
            <mat-button-toggle value="new">New</mat-button-toggle>
            <mat-button-toggle value="update">Update</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="outlined" [mat-dialog-close]="false">Cancel</button>
  <button matButton="filled" [mat-dialog-close]="checked">OK</button>
</mat-dialog-actions>
