.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  margin-top: 10px;
}

.assignment-wrapper {
  margin-bottom: 20px;
  padding: 8px;
  color: var(--mat-sys-on-surface-container-low);
  background-color: var(--mat-sys-surface-container-low);
}

.subtask-id {
  position: absolute;
  color: var(--mat-sys-primary);
  font-size: 14px;
  font-weight: bold;
  rotate: -90deg;
  margin: 4px -12px;
}

.text {
  margin-left: 16px;
}
