localhost {

    # set root
    root * /srv/app

    # serves static files
    file_server

    # reverse-proxy api requests to backend (backend defined in docker-compose.yml)
    handle /api* {
      reverse_proxy backend:3000
    }

    # optional optimization: compresses communication to browser if possible
    encode gzip zstd

    # optional logging: https://caddyserver.com/docs/caddyfile/directives/log
    log {
      output stdout
      format json
    }
}