{
  # detailed logs for caddy (can be disabled for production)
  debug

  # security block for defining caddy-security components
  security {

    # defines authentification portal
    authentication portal auth_portal { # name of auth portal
      enable identity store local_ldap_store
    }

    # define LDAP identity store
    ldap identity store local_ldap_store {
      realm local
      servers {
        "ldap://ldap-host:389" # default port for ldap communication
      }
      username "cn=admin,dc=exascan,dc=com" # caddy uses this username to conntect to LDAP (for example to query users).
      password "{$LDAP_BIND_PASSWORD}"
      search_base_dn "dc=exascan,dc=com"
      # for the query
      # the '&' means that everything following needs to be true
      # uid is the username entered in the login form
      # 'objectClass=inetOrgPerson' is the LDAP-User
      search_filter "(&(objectClass=inetOrgPerson)(uid=%s))"

      # Result is mapped to attributes
      # can be send to the backend with headers (for example for loading specific data for this user or for access-rights)
      attributes {
        id uid
        username uid
        # email mail
        name givenName
        surname sn
        common_name cn
        groups memberOf
      }

      # just an dummy group, should be changed
      groups {
        "cn=user,ou=groups,dc=exascan,dc=com" "user"
      }
    }

    # define authentification policy
    authorization policy auth_policy { # name of auth policy
      allow any user
      # more rules can be added here. Could be based on the attributes that were mapped earlier (for example only members of a specific group can authenticate). 
    }
  }
}

{$CADDY_DOMAIN} {
  route {
    # defined earlier
    authenticate with auth_portal
    authorize with auth_policy
    
    # set root
    root * /srv/app

    # reverse-proxy api requests to backend (backend defined in docker-compose.yml)
    handle_path /api/* {
      reverse_proxy backend:3000
    }

    # try_files ensures that an already authenticated user can use other routes on the website. In Angular every route is managed by index.html this is why it has to use index.html when the user uses routes (or even refreshes).
    try_files {path} {path}/ /index.html

    # file_server serves static files
    file_server
  }

  # optional optimization: compresses communication to browser if possible
  encode gzip zstd

  # optional logging: https://caddyserver.com/docs/caddyfile/directives/log
  log {
    output stdout
    format json
  }
}
