.task_container.cdk-drag-placeholder {
  width: 95%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
}

.task_container {
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  user-select: none;
  min-width: 100px;
  max-width: 100%;
  margin-top: 8px;
}

.task_icon {
  background-color: var(--color-primary);
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
}

.task_name {
  padding: 4px 10px 4px 10px;
  font-size: smaller;
  overflow: hidden;
  max-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
