<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic">
                    <img src="vsLogo.svg" alt="IMG" style="width: 200%; height: auto">
                </div>

                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        LDAP Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid Username is required">
                        <input class="input100" type="text" name="Username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="icon" aria-hidden="true">
                                <mat-icon fontIcon="person"></mat-icon>
                             </i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="icon" aria-hidden="true">
                                <mat-icon fontIcon="lock"></mat-icon>
                             </i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</body>