<div class="createExam_container">
    <div class="left_container">
        <div class="exam_name_wrapper" id="examName">
            <span class="exam_name" (click)="isNameChange = true" *ngIf="!isNameChange" id="examName">
                {{ exam.courseName}}
            </span>
            <input class="name_input" *ngIf="isNameChange" [value]="exam.courseName" (keydown)="onNameChange($event)"
                id="examName" #nameInput>
        </div>
        <div class="add_tasks_container">
            <app-AddTask class="task_wrapper" [name]="'Multiple Choice'" [color]="'var(--color-primary)'"
                [iconName]="'multipleChoice.svg'" id="new_multipleChoice" draggable="true"
                (dragstart)="dragStart($event)" (dragend)="drop($event)">
            </app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Short Answer'" [color]="'var(--color-secondary)'"
                [iconName]="'shortAnswer.svg'" id="new_shortAnswer" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Ranking'" [color]="'var(--color-warn)'"
                [iconName]="'ranking.svg'" id="new_ranking" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Picture Task'" [color]="'var(--color-dark-gray)'"
                [iconName]="'pictureTask.svg'" id="new_picture" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Latex Task'" [color]="'var(--color-text)'"
                [iconName]="'latexTask.svg'" id="new_latex" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
        </div>

        <div class="total_points">
            <span>total points: {{totalPoints}}</span>
        </div>

    </div>

    <div class="center_container">
        <div class="viewBar_spacer"></div>
        <div class="viewBar_wrapper">
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="remove_red_eye" matTooltip="Preview"
                    (click)="onPreview()"></mat-icon>
            </div>
            <div class="icon_wrapper bar_icon">
                <mat-icon *ngIf="!isUpdateMode" aria-hidden="false" fontIcon="save" matTooltip="Save"
                    (click)="onSave()"></mat-icon>
                <mat-icon *ngIf="isUpdateMode" aria-hidden="false" fontIcon="update" matTooltip="Update"
                    (click)="onUpdate()"></mat-icon>
            </div>


            <!-- Duration -->
            <div class="duration_wrapper">
                <div class="icon_wrapper">
                    <mat-icon aria-hidden="false" fontIcon="access_time"></mat-icon>
                </div>
                <input class="duration_picker" type="number" min="0" step="10" [(ngModel)]="exam.examLengthMinutes">
            </div>


            <!-- Exam Date -->
            <div class="date_wrapper">
                <input type="date" class="datePicker" [style.color-scheme]="lightTheme ? 'light' : 'dark'"
                    [(ngModel)]="exam.date" />
            </div>

            <!-- Examiner -->
            <div class="examiner_wrapper">
                <div class="icon_wrapper ">
                    <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
                </div>
                <input class="examiner_input" placeholder="Enter Examiner's Name" [(ngModel)]="exam.examinerName">
            </div>

            <!-- Semester -->
            <div class="semester_wrapper">
                <div class="icon_wrapper ">
                    <mat-icon aria-hidden="false" fontIcon="school"></mat-icon>
                </div>
                <mat-select class="selectSemester" placeholder="Select Semester" [(value)]="exam.semester"
                    panelClass="semesterSelect">
                    <mat-option *ngFor="let semester of semesters" [value]="semester">
                        {{ semester }}
                    </mat-option>
                </mat-select>
            </div>


            <span class="icon_wrapper language_icon" (click)="bilingual = !bilingual"><img
                    src="{{ bilingual? 'english.svg': 'german.svg'}}" /></span>
        </div>



        <div class="view_wrapper" id="drop-list" (dragover)="dragOverDropzone($event)" (dragleave)="inDropzone = false">
            <div class="tab_holder">
                <button class="tab" (click)="changeTab(i)"
                    *ngFor="let tab of [].constructor(exam.tasks.length); let i = index">
                    {{ exam.tasks.length < 5 ? 'Assignment ' + (i+1) : (i<9)? 'A 0' + (i+1): 'A ' + (i+1)}} <div
                        *ngIf="i === 0" class="tab_slider"
                        [style.transform]="'translateX(' + ((currentGroupView) * 100) + '%)'">
            </div>
            </button>
            <button class="tab" (click)="addTab()" matTooltip="add Group" [matTooltipShowDelay]="800">
                <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
            </button>

        </div>


        <div *ngIf="exam.tasks[currentGroupView].tasks.length === 0" class="empty_group_holder">
            No tasks in this group yet. Drag and drop tasks from the sides to add tasks <br>
            or <br>
            <span (click)="deleteTab()" class="delete_group"><u>delete this group</u> </span>
        </div>


        <div *ngFor="let task of exam.tasks[currentGroupView].tasks; let i = index; ">

            <mat-card class="task_group_title form-card" *ngIf="i === 0" style="border-color: var(--color-text);">
                <app-task-group-title class="task_container" [assignmentNumber]="currentGroupView + 1"
                    [bilingual]="bilingual" [preTitle]="exam.tasks[currentGroupView].groupTitle"
                    (titleChangedEvent)="onTitleChange($event)" />
            </mat-card>


            <span class="task_number">Assignment {{currentGroupView + 1}}.{{mapToChar(i)}}</span>

            <!-- Multiple Choice-->
            <mat-card class="form-card" *ngIf="task.type === 'multipleChoice'">
                <app-multiplechoiceTask class="task_container" [taskId]="exam.tasks[currentGroupView].tasks[i].taskId "
                    [preTask]="exam.tasks[currentGroupView].tasks[i]" [bilingual]="bilingual"
                    (deleteEvent)="deleteTask(i)" (taskChangeEvent)="onTaskChange($event,i)" />
            </mat-card>

            <!-- short Answer -->
            <mat-card class="form-card" *ngIf="task.type === 'shortAnswer'">
                <app-short-answer-task class="task_container" [taskId]="exam.tasks[currentGroupView].tasks[i].taskId "
                    [preTask]="exam.tasks[currentGroupView].tasks[i]" [bilingual]="bilingual"
                    (deleteEvent)="deleteTask(i)" (taskChangeEvent)="onTaskChange($event,i)" />
            </mat-card>

            <!-- Picture Task -->
            <mat-card class="form-card" *ngIf="task.type === 'pictureTask'">
                <app-picture-task class="task_container" [taskId]="exam.tasks[currentGroupView].tasks[i].taskId"
                    [preTask]="exam.tasks[currentGroupView].tasks[i]" [bilingual]="bilingual"
                    (deleteEvent)="deleteTask(i)" (taskChangeEvent)="onTaskChange($event,i)" />
            </mat-card>

            <!-- Latex Task -->
            <mat-card class="form-card" *ngIf="task.type === 'latexTask'">
                <app-latex-task class="task_container" [taskId]="exam.tasks[currentGroupView].tasks[i].taskId"
                    [preTask]="exam.tasks[currentGroupView].tasks[i]" [bilingual]="bilingual"
                    (deleteEvent)="deleteTask(i)" (taskChangeEvent)="onTaskChange($event,i)" />
            </mat-card>

        </div>
    </div>
</div>



<div class="right_container">pool
    <div class="task_pool_container">
        <app-AddTask *ngFor="let task of taskPool" class="task_wrapper" [name]="task.taskId"
            [color]="colorProvider.getTaskColor(task.type)" [iconName]="task.type + '.svg'" id="{{task.taskId}}"
            draggable="true" (dragstart)="dragStart($event)" (dragend)="drop($event)" matTooltip="{{task.question.DE}}"
            [matTooltipShowDelay]="800">
        </app-AddTask>

    </div>
</div>