<div class="createExam_container">
    <div class="left_container">
        <div class="exam_name_wrapper" id="examName">
            <span class="exam_name" (click)="isNameChange = true" *ngIf="!isNameChange" id="examName">
                {{ examName}}
            </span>
            <input class="name_input" *ngIf="isNameChange" [value]="examName" (keydown)="onNameChange($event)"
                id="examName" #nameInput >
        </div>
        <div class="tasks_container">
            <app-task class="task_wrapper" [name]="'Multiple Choice'" [color]="'var(--color-primary)'"
                [iconName]="'multipleChoice.svg'" id="multipleChoice" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)">
            </app-task>
            <app-task class="task_wrapper" [name]="'Short Text'" [color]="'var(--color-secondary)'"
                [iconName]="'shortText.svg'" id="text" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-task>
            <app-task class="task_wrapper" [name]="'Ranking'" [color]="'var(--color-warn)'" [iconName]="'ranking.svg'"
                id="ranking" draggable="true" (dragstart)="dragStart($event)" (dragend)="drop($event)"></app-task>
        </div>

    </div>

    <div class="center_container">
        <div class="viewBar_spacer"></div>
        <div class="viewBar_wrapper">
            <span>bar</span>
            <div class="icon_wrapper preview">
                <mat-icon aria-hidden="false" fontIcon="play_arrow" matTooltip="Preview"></mat-icon>
            </div>
        </div>
        <div class="view_wrapper" cdkDropList id="drop-list" (dragover)="dragOverDropzone($event)">
            <div *ngFor="let task of tasks">{{task}}</div>
        </div>
    </div>



    <div class="right_container">pool</div>
</div>