.createExam_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    color: var(--color-text);
}

.icon_wrapper {
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*------------ [ left ] ------------*/
.exam_name_wrapper {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam_name {
    border-radius: 5px;
    padding: 3%
}

.exam_name:hover {
    background-color: var(--border-color);
}


.name_input {
    border-radius: 5px;
    padding: 3%;
    border-color: var(--color-primary);
}

.name_input:focus {
    border-color: #0768c4;
    outline: none;
}


.left_container {
    width: 15%;
    padding: 10px 1% 10px 1%;
    display: flex;
    flex-direction: column;
}

.add_tasks_container {
    background-color: #F5F5F5;
    height: 70%;
    border-radius: 15px;
    padding: 10px 32px 10px 32px;
    box-sizing: border-box;
}

.task_wrapper {
    margin-left: 1%;
}

.task_wrapper:hover {
    cursor: grab;
}

.task_wrapper:active {
    cursor: grabbing;
}


/*------------ [ center ] ------------*/
.center_container {
    width: 55%;
    padding: 10px 32px 10px 32px;
    display: flex;
    flex-direction: column;
}


/*------------ [ ToolBar ] ------------*/
.viewBar_spacer {
    height: 5%;
}

.viewBar_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #F5F5F5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2%;
    flex-grow: 1;
    max-height: 10%;
}

.examiner_wrapper {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: row;
    padding: 0 10px;
    border-radius: 5px;
    min-width: 20%;
    color: var(--color-dark-gray);
}

.examiner_input {
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    background-color: transparent;
    color: var(--color-text);
}

.examiner_input:focus {
    border-bottom: 1px solid var(--color-primary);
    transition: border-bottom 0.1s ease-in-out;
}
    

.semester_wrapper {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: row;
    padding: 0 10px;
    border-radius: 5px;
    min-width: 20%;
    color: var(--color-dark-gray);
}

.semester_wrapper:hover {
    cursor: pointer;
    background-color: #0000001a;
}


.bar_icon {
    color: var(--color-dark-gray);
    margin-right: 1%;
}

.bar_icon:hover {
    cursor: pointer;
    background-color: #0000001a;
}

.view_wrapper {
    border: solid 1px;
    border-color: var(--border-color);
    margin-top: 3%;
    flex-grow: 99;
    display: flex;
    flex-direction: column;
    max-height: 85%;
    overflow: auto;
}

/*------------ [ right ] ------------*/
.right_container {
    width: 15%;
    border-left: solid 1px;
    border-color: var(--border-color);
    padding: 10px 1% 10px 1%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}