<div class="createExam_container">
    <div class="left_container">
        <div class="exam_name_wrapper" id="examName">
            <span class="exam_name" (click)="isNameChange = true" *ngIf="!isNameChange" id="examName">
                {{ examName}}
            </span>
            <input class="name_input" *ngIf="isNameChange" [value]="examName" (keydown)="onNameChange($event)"
                id="examName" #nameInput>
        </div>
        <div class="add_tasks_container">
            <app-AddTask class="task_wrapper" [name]="'Multiple Choice'" [color]="'var(--color-primary)'"
                [iconName]="'multipleChoice.svg'" id="multipleChoice" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)">
            </app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Short Text'" [color]="'var(--color-secondary)'"
                [iconName]="'shortText.svg'" id="text" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
            <app-AddTask class="task_wrapper" [name]="'Ranking'" [color]="'var(--color-warn)'"
                [iconName]="'ranking.svg'" id="ranking" draggable="true" (dragstart)="dragStart($event)"
                (dragend)="drop($event)"></app-AddTask>
        </div>

    </div>

    <div class="center_container">
        <div class="viewBar_spacer"></div>
        <div class="viewBar_wrapper">
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="remove_red_eye" matTooltip="Preview"></mat-icon>
            </div>
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="save" matTooltip="Save" (click)="onSave()"></mat-icon>
            </div>
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="insert_link" matTooltip="Copy Link"></mat-icon>
            </div>
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="undo" matTooltip="Undo"></mat-icon>
            </div>
            <div class="icon_wrapper bar_icon">
                <mat-icon aria-hidden="false" fontIcon="content_copy" matTooltip="Copy Task"></mat-icon>
            </div>


            <!-- Examiner -->
            <div class="examiner_wrapper">
                <div class="icon_wrapper ">
                    <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
                </div>
                <input class="examiner_input" placeholder="Enter Examiner's Name" [(ngModel)]="examinerName">
            </div>

            <!-- Semester -->
            <div class="semester_wrapper">
                <div class="icon_wrapper ">
                    <mat-icon aria-hidden="false" fontIcon="date_range"></mat-icon>
                </div>
                <mat-select class="selectSemester" placeholder="Select Semester" [(value)]="selectedSemester">
                    <mat-option *ngFor="let semester of semesters" [value]="semester">
                        {{ semester }}
                    </mat-option>
                </mat-select>
            </div>
        </div>


        <div class="view_wrapper" id="drop-list" (dragover)="dragOverDropzone($event)" (dragleave)="inDropzone = false">
            <app-task class="task_container" *ngFor="let task of tasks; let i = index" [taskId]="tasks[i].taskId"
                [preTask]="tasks[i]" (deleteEvent)="deleteTask(i)" (taskChangeEvent)="onTaskChange($event,i)" />
        </div>
    </div>



    <div class="right_container">pool</div>
</div>