{
  # detailed logs for caddy (can be disabled for production)
  log {
    output stdout
    level debug
    format console
  }
}

{$DOMAIN} {
  route /vsLogo.svg {
    root * /srv/app
    file_server
  }

  # TODO: We must ensure that only users with proper authorization are allowed to read files
  route /public/* {
    root * /srv/app
    file_server
  }

  @frontend {
    not path /api/* /public/* /vsLogo.svg
  }

  # frontend
  route @frontend {
    root * /srv/app

    # try_files ensures that an already authenticated user can use other routes on the website. In Angular every route is managed by index.html this is why it has to use index.html when the user uses routes (or even refreshes).
    try_files {path} /index.html
    file_server
  }

  # reverse-proxy api requests to backend (backend defined in docker-compose.yml)
  route /api/* {
    reverse_proxy backend:3000
  }

  # optional optimization: compresses communication to browser if possible
  encode gzip zstd
}
