{
  # detailed logs for caddy (can be disabled for production)
  log {
    output stdout
    level {$LOGLEVEL}
    format console
  }
}

{$DOMAIN} {
  route /public/* {
    root * /srv/
    file_server
  }

  # TODO: We must ensure that only users with proper authorization are allowed to read files
  route /uploads/* {
    root * /srv/
    file_server
  }

  @frontend {
    not path /api/* /public/* /uploads/*
  }

  # frontend
  route @frontend {
    reverse_proxy frontend:4200
  }

  # reverse-proxy api requests to backend (backend defined in docker-compose.yml)
  route /api/* {
    reverse_proxy backend:3000
  }

  # optional optimization: compresses communication to browser if possible
  encode gzip zstd
}
