<div class="taskPool_container">
    <div class="header">
        <span>Task Pool</span>
    </div>



    <!-- Bar for filtering  -->
    <div class="viewBar_wrapper">
        <div class="viewBar_left">
            <button class="tab_button tab_select">All Tasks</button>
            <button class="tab_button">Recently Used</button>
            <button class="tab_button">Created by me</button>
        </div>

        <div class="viewBar_right">
            <div class="sortingOptions_wrapper" id="openSortingDropdown">
                <span id="openSortingDropdown">Last viewed</span>
                <div id="openSortingDropdown"><mat-icon id="openSortingDropdown" aria-hidden="false"
                        fontIcon="arrow_drop_down"></mat-icon></div>
                <!-- Dropdown -->
                <div class="dropdown triangle" [ngClass]="{'hide_dropdown': !showDropdowns.sorting}">
                    <div class="dropdown_header">Sort by</div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Alphabetical</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Created</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Last Viewed</span>
                    </div>

                    <hr class="divider">
                    <div class="dropdown_header">Order</div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>A-Z</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Z-A</span>
                    </div>

                </div>

                <!-- Filter Options -->
                <div class="filterOptions_wrapper" id="openFilterDropdown">
                    <span id="openFilterDropdown">All Tags</span>
                    <div id="openFilterDropdown"><mat-icon id="openFilterDropdown" aria-hidden="false"
                            fontIcon="arrow_drop_down"></mat-icon></div>

                    <!-- Dropdown -->
                    <div class="dropdown triangle" [ngClass]="{'hide_dropdown': !showDropdowns.filter}">
                        <div class="option_container">
                            <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                                style="font-size: small;">done</mat-icon>
                            <span>Easy</span>
                        </div>

                        <div class="option_container">
                            <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                                style="font-size: small;">done</mat-icon>
                            <span>Medium</span>
                        </div>

                        <div class="option_container">
                            <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                                style="font-size: small;">done</mat-icon>
                            <span>Hard</span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- View Options -->
            <div class="viewOptions_wrapper">
                <div class="icon_wrapper" id="viewOption grid">
                    <div class="viewOptions_select">
                        <mat-icon class="icon_wrapper" aria-hidden="false"
                            fontIcon="apps"></mat-icon><!-- Icons: view_comfy, apps, view_module-->
                    </div>
                </div>
                <div class="icon_wrapper">
                    <div class="" id="viewOption row">
                        <mat-icon class="icon_wrapper" aria-hidden="false" fontIcon="view_headline"></mat-icon>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Tasks_container">
        <div class="Task" *ngFor="let task of tasks">
            <b>ID:</b> {{task.taskId}}, <b>Frage:</b> {{task.question.DE}}, <b>Punkte:</b> {{task.points}}
        </div>
    </div>


</div>