.taskPool_container {
    width: 100%;
    height: 100%;
    border-color: var(--border-color);
    background-color: var(--color-background);
}

.header {
    border-bottom-width: 100px;
    border-bottom: solid 1px;
    border-color: var(--border-color);
    padding: 10px 32px 10px 32px;
    color: var(--color-text);
}


// View bar
.viewBar_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    height: 64px;
}

.viewBar_left {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    align-items: center;
    padding-right: 1px;
}

.tab_button {
    padding: 0 8px 0 8px;
    height: 24px;
    font-size: 11px;
    line-height: 16px;
    border-radius: 5px;
    border: none;
    background: var(--color-bg);
    color: var(--color-text-secondary);
    transition: .1s ease-in;
    font-weight: normal;
}

.tab_button:hover {
    cursor: pointer;
    background-color: var(--border-color);
    transition: ease-in .05s;
}

.tab_button:active {
    filter: brightness(85%);
}

.tab_select {
    background: var(--color-bg-accent);
    color: var(--color-text);
    transition: .1s ease-in;
    font-weight: 500;
}

.viewBar_right {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    align-items: center;
    padding-right: 1px;
}


.sortingOptions_wrapper {
    display: flex;
    align-items: center;
    padding-right: 17px;
    font-size: 11px;
    position: relative;
    color: var(--color-text);
}

.sortingOptions_wrapper:hover {
    cursor: pointer;
}



.filterOptions_wrapper {
    display: flex;
    align-items: center;
    padding-right: 17px;
    font-size: 11px;
    position: relative;
    color: var(--color-text);
}

.filterOptions_wrapper {
    cursor: pointer;
}

.viewOptions_wrapper {
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    padding-right: 17px;
    font-size: 11px;
    box-sizing: border-box;
}

.icon_wrapper {

    box-sizing: border-box;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_wrapper:hover {
    cursor: pointer;
}

.icon_wrapper:active {
    filter: brightness(85%);
}


.viewOptions_select {
    color: var(--color-text);
    background-color: var(--border-color);
    border-radius: 5px;
}


/*------------------------------------------------------------------
  [ Dropdowns ]*/
.dropdown {
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: small;
    position: absolute;
    top: 100%;
    z-index: 999;
    min-width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
}

.triangle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #1e1e1e;
    left: 5%;
    top: -8px;
}



.dropdown_header {
    color: var(--color-dark-gray);
    margin-bottom: 5%;
}

.option_container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 2%;
    align-items:center ;
}

.option_container:hover{
    background-color: #0768c4;
    margin-left: -10%;
    margin-right: -10%;
    transition: .1s ease-in;
}

.dropdown_icon_wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}


.divider {
    margin-left: -10%;
    margin-right: -10%;
    border-bottom: 1px solid var(--color-dark-gray);
}


.hide_dropdown {
    display: none;
}

.hide_icon {
    visibility: hidden;
}


/*------------------------------------------------------------------
  [ File Browser ]*/

.task_container {
    padding: 0 32px 0 32px;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 4%;
    grid-auto-rows: 25vh;
}

.task {
    margin-bottom: 4%;
}