<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<!-- Dynamic Picture Rendering Loop -->
@for (lang of ['A', 'B']; track lang) {
  @if (lang === 'A') {
    <!-- Language A Rendering Block (Non-Bilingual & Bilingual) -->
    <div *ngIf="!bilingual || bilingual">
      <h2 class="dropzone_header">Question Picture (DE):</h2>
      <div class="image_preview_container">
        @if (task.questionPicture.url[lang]) {
          <div class="preview_container">
            <img [src]="task.questionPicture.url[lang]" class="image_preview" />
            <span class="remove_image">
              <div class="icon_wrapper footer_icon_delete">
                <mat-icon
                  aria-hidden="false"
                  matTooltip="remove"
                  matTooltipPosition="right"
                  (click)="onRemovePreview(lang, 'question')"
                  >clear</mat-icon
                >
              </div>
            </span>
          </div>
        } @else {
          <div
            class="dropzone"
            appDragAndDrop
            (fileDropped)="onFileDropped($event, lang, 'question')"
          >
            <input
              class="upload_input"
              type="file"
              #fileDropRef
              id="fileDropRef"
              (change)="fileBrowseHandler($event, lang, 'question')"
              accept="image/*"
            />
            <h3>Drag and Drop picture here</h3>
            <h3>or</h3>
            <label class="browse_button" for="fileDropRef"
              >Browse for picture</label
            >
          </div>
        }
      </div>
    </div>
  }

  @if (lang === 'B') {
    <!-- Language B Rendering Block (Only in Bilingual view) -->
    <div *ngIf="bilingual">
      <h2 class="dropzone_header">Question Picture (EN):</h2>
      <div class="image_preview_container">
        <!-- Language B -->
        @if (task.questionPicture.url[lang]) {
          <div class="preview_container">
            <img [src]="task.questionPicture.url[lang]" class="image_preview" />
            <span class="remove_image">
              <div class="icon_wrapper footer_icon_delete">
                <mat-icon
                  aria-hidden="false"
                  matTooltip="remove"
                  matTooltipPosition="right"
                  (click)="onRemovePreview(lang, 'question')"
                  >clear</mat-icon
                >
              </div>
            </span>
          </div>
        } @else {
          <div
            class="dropzone"
            appDragAndDrop
            (fileDropped)="onFileDropped($event, lang, 'question')"
          >
            <input
              class="upload_input"
              type="file"
              #fileDropRef
              id="fileDropRef"
              (change)="fileBrowseHandler($event, lang, 'question')"
              accept="image/*"
            />
            <h3>Drag and Drop picture here</h3>
            <h3>or</h3>
            <label class="browse_button" for="fileDropRef"
              >Browse for picture</label
            >
          </div>
        }
      </div>
    </div>
  }
}

<!-- Solution Picture Block -->
@for (lang of ['A', 'B']; track lang) {
  @if (lang === 'A') {
    <!-- Language A Rendering Block (Non-Bilingual & Bilingual) -->
    <div *ngIf="!bilingual || bilingual">
      <h2 class="dropzone_header">Solution Picture (DE):</h2>
      <div class="image_preview_container">
        @if (task.solutionPicture.url[lang]) {
          <div class="preview_container">
            <img [src]="task.solutionPicture.url[lang]" class="image_preview" />
            <span class="remove_image">
              <div class="icon_wrapper footer_icon_delete">
                <mat-icon
                  aria-hidden="false"
                  matTooltip="remove"
                  matTooltipPosition="right"
                  (click)="onRemovePreview(lang, 'solution')"
                  >clear</mat-icon
                >
              </div>
            </span>
          </div>
        } @else {
          <div
            class="dropzone"
            appDragAndDrop
            (fileDropped)="onFileDropped($event, lang, 'solution')"
          >
            <input
              class="upload_input"
              type="file"
              #fileDropRef
              id="fileDropRef"
              (change)="fileBrowseHandler($event, lang, 'solution')"
              accept="image/*"
            />
            <h3>Drag and Drop picture here</h3>
            <h3>or</h3>
            <label class="browse_button" for="fileDropRef"
              >Browse for picture</label
            >
          </div>
        }
      </div>
    </div>
  }

  @if (lang === 'B') {
    <!-- Language B Rendering Block (Only in Bilingual view) -->
    <div *ngIf="bilingual">
      <h2 class="dropzone_header">Solution Picture (EN):</h2>
      <div class="image_preview_container">
        <!-- Language B -->
        @if (task.solutionPicture.url[lang]) {
          <div class="preview_container">
            <img [src]="task.solutionPicture.url[lang]" class="image_preview" />
            <span class="remove_image">
              <div class="icon_wrapper footer_icon_delete">
                <mat-icon
                  aria-hidden="false"
                  matTooltip="remove"
                  matTooltipPosition="right"
                  (click)="onRemovePreview(lang, 'solution')"
                  >clear</mat-icon
                >
              </div>
            </span>
          </div>
        } @else {
          <div
            class="dropzone"
            appDragAndDrop
            (fileDropped)="onFileDropped($event, lang, 'solution')"
          >
            <input
              class="upload_input"
              type="file"
              #fileDropRef
              id="fileDropRef"
              (change)="fileBrowseHandler($event, lang, 'solution')"
              accept="image/*"
            />
            <h3>Drag and Drop picture here</h3>
            <h3>or</h3>
            <label class="browse_button" for="fileDropRef"
              >Browse for picture</label
            >
          </div>
        }
      </div>
    </div>
  }
}

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
></app-task-footer>
