button{
    color: var(--textColor);
    background-color: var(--bgColor);
}


.test_div{
    height: 400px;
    width: 200px;
    background-color: var(--bgColor);
    color: var(--textColor) !important;
}