<!-- Question -->
<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<div class="form-body">
  <div class="header-row">
    <!-- Header -->
    @if (numCorrect() < 1) {
      <div class="solution-header">
        Single/Multiple Choice
        <mat-icon
          class="small"
          matTooltip="You need to mark at least one option as correct"
          >info</mat-icon
        >
      </div>
    } @else if (numCorrect() < 2) {
      <span class="solution-header">Single Choice</span>
    } @else {
      <span class="solution-header">Multiple Choice</span>
    }
    <!-- add AnswerOption -->
    <div class="spacer"></div>
    <div class="icon_wrapper icon_add_option">
      <mat-icon
        aria-hidden="false"
        matTooltip="Add Option"
        (click)="addOption()"
        >add_circle</mat-icon
      >
    </div>
  </div>

  <!-- Options -->
  @for (option of task.answerOptions; track option; let i = $index) {
    <div class="form-option" [@inOutAnimation]>
      <mat-checkbox
        class="option-checkbox"
        name="multiple-choice"
        matTooltip="Correct"
        [(ngModel)]="task.answerOptions[i].correct"
        (change)="onOptionCorrectChange()"
      />
      @if (bilingual) {
        <div class="bilingual-options">
          <app-latex-textarea
            label="Option {{ i + 1 }} (DE)"
            [value]="task.answerOptions[i].A"
            (valueChange)="changeOption($event, i, 'A')"
            (blur)="updateTask()"
          ></app-latex-textarea>

          <app-latex-textarea
            label="Option {{ i + 1 }} (EN)"
            [value]="task.answerOptions[i].B"
            (valueChange)="changeOption($event, i, 'B')"
            (blur)="updateTask()"
          ></app-latex-textarea>
          @if (i < task.answerOptions.length - 1) {
            <mat-divider class="divider" [@inOutAnimation]></mat-divider>
          }
        </div>
      } @else {
        <app-latex-textarea
          label="Option {{ i + 1 }}"
          [value]="task.answerOptions[i].A"
          (valueChange)="changeOption($event, i, 'A')"
          (blur)="updateTask()"
        ></app-latex-textarea>
      }
      <div class="icon_wrapper icon_delete">
        <mat-icon
          aria-hidden="false"
          matTooltip="Delete Option"
          (click)="removeOption(i)"
          >delete</mat-icon
        >
      </div>
    </div>
  }
</div>

<!-- Footer -->
<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  [createNewTask]="createNewTask"
  pointsMode="per-line"
  pointsLabel="per correct option"
  [points]="pointsPerOption"
  (pointsPerLineValueChange)="pointsPerOption = $event; onPointsChange()"
  (deleteEvent)="onDelete()"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (taskChangeEvent)="taskChangeEvent.emit($event)"
></app-task-footer>
