.small {
  scale: 0.75;
}

.form-option {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  app-latex-textarea {
    width: 100%;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bilingual-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.divider {
  margin-top: 8px;
}

.option-checkbox {
  margin-top: 8px;
}

.icon_delete {
  margin-top: 14px;
  margin-right: 4px;
}

.icon_add_option {
  margin-right: 4px;
  margin-left: auto;
}
