<!-- Question -->
<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<!-- Answer Options -->
<div class="form-body">
  @for (option of task.answerOptions; track option; let i = $index) {
    <div class="form-option" [@inOutAnimation]>
      <input
        type="checkbox"
        name="multiple-choice"
        matTooltip="Correct Option"
        [(ngModel)]="task.answerOptions[i].correct"
        (change)="onOptionCorrectChange()"
      />
      <!-- Bilingual -->
      @if (bilingual) {
        <div class="option_language_container">
          <div class="option_language_wrapper">
            <span class="language_icon"
              ><img [src]="publicPath + 'german.svg'"
            /></span>
            <input
              type="text"
              [value]="task.answerOptions[i].DE"
              (keydown.enter)="changeOption($event, i, 'DE')"
              (blur)="changeOption($event, i, 'DE')"
              placeholder="Option {{ i + 1 }}"
              class="form-option-input"
            />
          </div>
          <div class="option_language_wrapper">
            <span class="language_icon"
              ><img [src]="publicPath + 'english.svg'"
            /></span>
            <input
              type="text"
              [value]="task.answerOptions[i].EN"
              (keydown.enter)="changeOption($event, i, 'EN')"
              (blur)="changeOption($event, i, 'EN')"
              placeholder="Option {{ i + 1 }}"
              class="form-option-input"
            />
          </div>
        </div>
      }
      <!-- German -->
      @if (!bilingual) {
        <input
          type="text"
          [value]="task.answerOptions[i].DE"
          (keydown.enter)="changeOption($event, i, 'DE')"
          (blur)="changeOption($event, i, 'DE')"
          placeholder="Option {{ i + 1 }}"
          class="form-option-input"
        />
      }
      <div class="icon_wrapper delete_option_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Delete Option"
          (click)="removeOption(i)"
          >delete</mat-icon
        >
      </div>
    </div>
  }

  <!-- add AnswerOption -->
  <div class="add-option">
    <div class="spacer"></div>
    <div class="icon_wrapper add_option_icon">
      <mat-icon
        aria-hidden="false"
        matTooltip="Add Option"
        (click)="addOption()"
        >add_circle</mat-icon
      >
    </div>
  </div>
</div>

<!-- Footer -->
<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  [createNewTask]="createNewTask"
  pointsMode="per-line"
  pointsLabel="per correct option"
  [points]="pointsPerOption"
  (pointsPerLineValueChange)="pointsPerOption = $event; onPointsChange()"
  (deleteEvent)="onDelete()"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (taskChangeEvent)="taskChangeEvent.emit($event)"
></app-task-footer>
