<div class="task-pool-container">
  <div class="filter-container">
    <div class="search-container">
      <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path
          fill="var(--color-icon)"
          fill-rule="evenodd"
          d="M16 11.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0m-.956 4.206a5.5 5.5 0 1 1 .662-.662.5.5 0 0 1 .148.102l3 3a.5.5 0 1 1-.707.707l-3-3a.5.5 0 0 1-.103-.147"
          clip-rule="evenodd"
        ></path>
      </svg>
      <input
        type="text"
        placeholder="Search..."
        class="search-input"
        aria-label="Search"
        aria-autocomplete="list"
        aria-controls="mat-autocomplete-0"
        aria-activedescendant="mat-option-0"
        #search
        (keydown.enter)="onTextSearch(search.value)"
      />
    </div>

    <div class="sort-container">
      <div class="type-filter-container">
        <select #selectedType (change)="onFilterType(selectedType.value)">
          @for (type of types; track type.value) {
            <option value="{{ type.value }}">{{ type.viewValue }}</option>
          }
        </select>
      </div>
      <div class="sort-points-container">
        <span>Points:</span>
        <mat-icon
          class="icon"
          (click)="onSortPoints(SortPoints.Descending)"
          [class.active]="sortPoints == SortPoints.Descending"
          >arrow_downward</mat-icon
        >
        <mat-icon
          class="icon"
          (click)="onSortPoints(SortPoints.Ascending)"
          [class.active]="sortPoints == SortPoints.Ascending"
          >arrow_upward</mat-icon
        >
      </div>
    </div>
  </div>

  @for (task of filteredTaskPool; track $index) {
    <app-pool-task
      class="task_wrapper"
      [task]="task"
      [color]="colorProvider.getTaskColor(task.type)"
      [iconName]="task.type + '.svg'"
      id="{{ task._id }}"
      draggable="true"
      (dragstart)="dragStart.emit($event)"
      (dragend)="drop.emit($event)"
    >
    </app-pool-task>
  }
</div>
