<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<!-- Solution -->
@if (!bilingual) {
  <div class="form-body">
    <span class="solution_input_label">Solution:</span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.DE"
      (blur)="updateTask()"
    ></textarea>
  </div>
}

<!-- Bilingual -->
@if (bilingual) {
  <div class="form-body solution_container">
    <span class="solution_input_label">
      <span class="language_icon"
        ><img [src]="publicPath + 'german.svg'"
      /></span>
      Lösung:
    </span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.DE"
      (blur)="updateTask()"
    ></textarea>
    <span class="solution_input_label" style="margin-top: 16px">
      <span class="language_icon"
        ><img [src]="publicPath + 'english.svg'"
      /></span>
      Solution:
    </span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.EN"
      (blur)="updateTask()"
    ></textarea>
  </div>
}

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
