<!-- Bilingual -->
<div class="title">Assignment {{ assignmentNumber }}</div>
<div class="question-container">
  @if (bilingual) {
    <app-latex-textarea
      label="Titel"
      [value]="description.A"
      (valueChange)="updateTitle($event, 'A')"
    ></app-latex-textarea>

    <app-latex-textarea
      label="Title"
      [value]="description.B"
      (valueChange)="updateTitle($event, 'B')"
    ></app-latex-textarea>
  } @else {
    <app-latex-textarea
      label="Title"
      [value]="description.A"
      (valueChange)="updateTitle($event, 'A')"
    ></app-latex-textarea>
  }
  <!-- <div class="question-language-wrapper">
      <span class="language_icon"
        ><img [src]="publicPath + 'german.svg'"
      /></span>
      <div
        #titleFieldDE
        contenteditable="true"
        class="form-question"
        (focus)="activateFormatButtons()"
        (blur)="deactivateFormatButtons($event)"
        (input)="updateTitle($event, 'DE')"
        [attr.data-placeholder]="
          'Titel für Aufgabenblock ' + assignmentNumber + ' eingeben...'
        "
      ></div>
    </div>
    <div class="question-language-wrapper">
      <span class="language_icon"
        ><img [src]="publicPath + 'english.svg'"
      /></span>
      <div
        #titleFieldEN
        contenteditable="true"
        class="form-question"
        (focus)="activateFormatButtons()"
        (blur)="deactivateFormatButtons($event)"
        (input)="updateTitle($event, 'EN')"
        [attr.data-placeholder]="
          'Enter title for assignment ' + assignmentNumber + '...'
        "
      ></div>
    </div> -->
</div>
