.title {
  color: var(--mat-sys-primary);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  background-color: transparent;
}
