<div class="main">
    <div class="sidenav">
        <button class="dropdown-button">
            <div class="user-profile">
                <div class="avatar">M</div>
                <span class="user-name">Test User</span>
                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                    <path fill="currentColor" fill-opacity="1" fill-rule="nonzero" stroke="none"
                        d="m.646 3.354.708-.708L4 5.293l2.646-2.647.708.708L4 6.707z"></path>
                </svg>
            </div>
        </button>

        <button class="search-button">
            <div class="search-container">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="var(--color-icon)" fill-rule="evenodd"
                        d="M16 11.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0m-.956 4.206a5.5 5.5 0 1 1 .662-.662.5.5 0 0 1 .148.102l3 3a.5.5 0 1 1-.707.707l-3-3a.5.5 0 0 1-.103-.147"
                        clip-rule="evenodd"></path>
                </svg>
                <input type="text" placeholder="Search..." class="search-input" aria-label="Search" aria-autocomplete="list"
                    aria-controls="mat-autocomplete-0" aria-activedescendant="mat-option-0">
            </div>
        </button>

        <div class="separator-horizontal" style="margin-top: 5%;"></div>



        <button routerLink="/dashboard" class="nav-item">
            <div class="icon-container">
                <mat-icon aria-hidden="false" fontIcon="dashboard"></mat-icon>
            </div>
            Dashboard
        </button>

        <button routerLink="/getting-started" class="nav-item">
            <div class="icon-container">
                <mat-icon aria-hidden="false" fontIcon="info"></mat-icon>
            </div>
            Getting Started
        </button>

        <button routerLink="/about" class="nav-item">
            <div class="icon-container">
                <mat-icon aria-hidden="false" fontIcon="bug_report"></mat-icon>
            </div>
            About
        </button>

        <button (click)="toggleTheme()" class="nav-item">
            <div class="icon-container">
                <mat-icon aria-hidden="false" fontIcon="format_color_fill"></mat-icon>
            </div>
            Theme
        </button>

        <button (click)="onLogout()" class="nav-item">
            <div class="icon-container">
                <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
            </div>
            Logout
        </button>
    </div>


    <div class="separator-vertical"></div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>



<!-- <div class="main">
    <mat-drawer-container >
        <mat-drawer mode="side" opened class="sidenav">
            <mat-selection-list>
                <mat-list>
                    <div>
                        <a mat-button class="sideButton" routerLink="/dashboard">Dashboard</a>
                        <a mat-button class="sideButton" routerLink="/getting-started">Getting Started</a>
                        <a mat-button class="sideButton" routerLink="/about">About</a>
                        <button mat-button (click)="onLogout()">Logout</button>
                        <app-theme-toggle></app-theme-toggle>
                    </div>
                </mat-list>
            </mat-selection-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div> -->