<button class="task" (mouseover)="mouseHovering=true" (mouseleave)="mouseHovering=false"
    [ngStyle]="{'backgroundColor': mouseHovering ? taskColor : 'var(--color-bg-accent)' }">
    <div class="icon_container" [ngStyle]="{'backgroundColor': mouseHovering ? '#0000002a' : taskColor }">
        <img src="{{ task.type + '.svg' }}" alt="Task Type Icon" class="task_icon">
    </div>
    <div class="description_shelf">
        <span class="name">{{task.question.DE}}</span>
        <span class="description"></span>
    </div>
    <div class="tag_wrapper">
        @for (tag of task.tags; track tag.getName();) {
        <span class="task_tag" [ngStyle]="{'backgroundColor': tag.getColor(), 'color': tag.getTextColor()}">
            {{tag.getName()}}
        </span>
        }
        <button class="addTag_Button" (click)="onAddTag()"><mat-icon>add</mat-icon></button>
    </div>

    <div class="footer">
        <span class="last_used">last used: 25.01.2025</span>
        <span class="points">{{task.points}} pts.</span>
    </div>
</button>