<div
  class="task-pool-container"
  cdkDropList
  id="pool-tasks-drop-list"
  cdkDropListSortingDisabled
  [cdkDropListData]="filteredTaskPool"
  [cdkDropListConnectedTo]="connectedTo"
>
  <div class="filter-container">
    <div class="search-container">
      <mat-icon>search-icon</mat-icon>
      <input
        type="text"
        placeholder="Search..."
        class="search-input"
        aria-label="Search"
        aria-autocomplete="list"
        aria-controls="mat-autocomplete-0"
        aria-activedescendant="mat-option-0"
        #search
        (keydown.enter)="onTextSearch(search.value)"
      />
    </div>

    <div class="sort-container">
      <div class="type-filter-container">
        <select #selectedType (change)="onFilterType(selectedType.value)">
          @for (type of types; track type.value) {
            <option value="{{ type.value }}">{{ type.viewValue }}</option>
          }
        </select>
      </div>
      <div class="sort-points-container">
        <span>Points:</span>
        <mat-icon
          class="icon"
          (click)="onSortPoints(SortPoints.Descending)"
          [class.active]="sortPoints == SortPoints.Descending"
          >arrow_downward</mat-icon
        >
        <mat-icon
          class="icon"
          (click)="onSortPoints(SortPoints.Ascending)"
          [class.active]="sortPoints == SortPoints.Ascending"
          >arrow_upward</mat-icon
        >
      </div>
    </div>
  </div>

  @for (task of filteredTaskPool; track $index) {
    <app-pool-task
      class="task_container"
      [task]="task"
      [color]="colorProvider.getTaskColor(task.type)"
      [iconName]="task.type + '.svg'"
      [dragData]="{ source: 'pool', taskId: task._id }"
    >
    </app-pool-task>
  }
</div>
