<div class="file_browser">
  <div class="viewBar_wrapper">
    <div class="viewBar_left">
      <button class="tab_button tab_select">Recently Viewed</button>
      <button class="tab_button">My Exams</button>
      <button class="tab_button">Relevant Exams</button>
    </div>

    <div class="viewBar_right">
      <div class="sortingOptions_wrapper" id="openSortingDropdown">
        <span id="openSortingDropdown">Last viewed</span>
        <div id="openSortingDropdown">
          <mat-icon id="openSortingDropdown" aria-hidden="false"
            >arrow_drop_down</mat-icon
          >
        </div>
        <div
          class="dropdown triangle"
          [ngClass]="{ hide_dropdown: !showDropdowns.sorting }"
        >
          <div class="dropdown_header">Sort by</div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Alphabetical</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Created</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Last Viewed</span>
          </div>

          <hr class="divider" />
          <div class="dropdown_header">Order</div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>A-Z</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Z-A</span>
          </div>
        </div>
      </div>

      <div class="filterOptions_wrapper" id="openFilterDropdown">
        <span id="openFilterDropdown">All files</span>
        <div id="openFilterDropdown">
          <mat-icon id="openFilterDropdown" aria-hidden="false"
            >arrow_drop_down</mat-icon
          >
        </div>

        <div
          class="dropdown triangle"
          [ngClass]="{ hide_dropdown: !showDropdowns.filter }"
        >
          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Alphabetical</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Created</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper"
              aria-hidden="false"
              style="font-size: small"
              >done</mat-icon
            >
            <span>Last Viewed</span>
          </div>
        </div>
      </div>

      <div class="viewOptions_wrapper">
        <div
          class="icon_wrapper"
          id="viewOption grid"
          (click)="toggleViewOption('grid')"
        >
          <div
            class=""
            [ngClass]="{ viewOptions_select: viewOption === 'grid' }"
          >
            <mat-icon class="icon_wrapper" aria-hidden="false">apps</mat-icon>
          </div>
        </div>
        <div class="icon_wrapper">
          <div
            class=""
            [ngClass]="{ viewOptions_select: viewOption === 'list' }"
            id="viewOption row"
            (click)="toggleViewOption('list')"
          >
            <mat-icon class="icon_wrapper" aria-hidden="false"
              >view_headline</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fileBrowser_view">
    @if (viewOption === 'grid') {
      @for (exam of recentExams; track exam) {
        <div class="fileBrowser_item">
          <app-exam-card
            [name]="exam.courseName"
            (click)="onExamClick(exam._id)"
          ></app-exam-card>
        </div>
      }
    }
  </div>
  @if (viewOption === 'list') {
    <div class="exams_table">
      <app-exams-table
        [exams]="recentExams"
        [readOnly]="true"
        (examSelectedEvent)="onExamClick($event)"
      ></app-exams-table>
    </div>
  }
</div>
