<div class="file_browser">
    <div class="recents">
        <span>Recents</span>
    </div>

    <div class="file_creation_thumbnails">

        <div class="create_exam thumbnail" (click)="onAddExam()">
            <button class="create_exam_button">
                <div class="create_icon_container">
                    <mat-icon aria-hidden="false" fontIcon="playlist_add"></mat-icon>
                    <!--Icons: create, add, add_box, playlist_add -->
                </div>
                <div class="description_shelf">
                    <span class="create_name">Add Exam</span>
                    <span class="create_description">Create a new exam</span>
                </div>
            </button>
        </div>

        <div class="exercise_pool thumbnail"  (click)="addExam()">
            <button class="pool_exam_button">
                <div class="pool_icon_container">
                    <mat-icon aria-hidden="false" fontIcon="">toc</mat-icon>
                </div>
                <div class="description_shelf">
                    <span class="pool_name">Task Pool</span>
                    <span class="pool_description">View and add existing tasks</span>
                </div>
            </button>
        </div>


        <div class="export thumbnail">
            <button class="export_exam_button">
                <div class="export_icon_container">
                    <mat-icon aria-hidden="false" fontIcon="">build</mat-icon>
                </div>
                <div class="description_shelf">
                    <span class="export_name">Export</span>
                    <span class="export_description">Build and export an exam</span>
                </div>
            </button>
        </div>


        <div class="import thumbnail">
            <button class="import_exam_button">
                <div class="import_icon_container">
                    <mat-icon aria-hidden="false" fontIcon="">file_download</mat-icon>
                </div>
                <div class="description_shelf">
                    <span class="import_name">Import</span>
                    <span class="import_description">Import files</span>
                </div>
            </button>
        </div>
    </div>

    <div class="viewBar_wrapper">
        <div class="viewBar_left">
            <button class="tab_button tab_select">Recently Viewed</button>
            <button class="tab_button">My Exams</button>
            <button class="tab_button">Relevant Exams</button>
        </div>




        <div class="viewBar_right">

            <!-- Sorting Options -->
            <div class="sortingOptions_wrapper" id="openSortingDropdown">
                <span id="openSortingDropdown">Last viewed</span>
                <div id="openSortingDropdown"><mat-icon id="openSortingDropdown" aria-hidden="false"
                        fontIcon="arrow_drop_down"></mat-icon></div>
                <!-- Dropdown -->
                <div class="dropdown triangle" [ngClass]="{'hide_dropdown': !showDropdowns.sorting}">
                    <div class="dropdown_header">Sort by</div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Alphabetical</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Created</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Last Viewed</span>
                    </div>

                    <hr class="divider">
                    <div class="dropdown_header">Order</div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>A-Z</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Z-A</span>
                    </div>

                </div>
            </div>



            <!-- Filter Options -->
            <div class="filterOptions_wrapper" id="openFilterDropdown">
                <span id="openFilterDropdown">All files</span>
                <div id="openFilterDropdown"><mat-icon id="openFilterDropdown" aria-hidden="false"
                        fontIcon="arrow_drop_down"></mat-icon></div>

                <!-- Dropdown -->
                <div class="dropdown triangle" [ngClass]="{'hide_dropdown': !showDropdowns.filter}">
                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Alphabetical</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper hide_icon" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Created</span>
                    </div>

                    <div class="option_container">
                        <mat-icon class="dropdown_icon_wrapper" aria-hidden="false" fontIcon=""
                            style="font-size: small;">done</mat-icon>
                        <span>Last Viewed</span>
                    </div>

                </div>
            </div>


            <!-- View Options -->
            <div class="viewOptions_wrapper">
                <div class="icon_wrapper" id="viewOption grid">
                    <div class="viewOptions_select">
                        <mat-icon class="icon_wrapper" aria-hidden="false"
                            fontIcon="apps"></mat-icon><!-- Icons: view_comfy, apps, view_module-->
                    </div>
                </div>
                <div class="icon_wrapper">
                    <div class="" id="viewOption row">
                        <mat-icon class="icon_wrapper" aria-hidden="false" fontIcon="view_headline"></mat-icon>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="fileBrowser_view">
        <div class="fileBrowser_item" *ngFor="let exam of examNames"><app-exam-card [name]="exam"></app-exam-card></div>
    </div>

</div>