<!-- Question -->
<div class="form-header">
  <div class="question-container">
    @if (bilingual) {
      <app-latex-textarea
        [label]="questionDEPlaceholder"
        [value]="task.question.DE"
        (valueChange)="updateQuestion($event, 'DE')"
      ></app-latex-textarea>

      <app-latex-textarea
        [label]="questionENPlaceholder"
        [value]="task.question.EN"
        (valueChange)="updateQuestion($event, 'EN')"
      ></app-latex-textarea>
    } @else {
      <app-latex-textarea
        [label]="questionPlaceholder"
        [value]="task.question.DE"
        (valueChange)="updateQuestion($event, 'DE')"
      ></app-latex-textarea>
    }
  </div>

  @if (bilingual) {
    <mat-divider class="divider"></mat-divider>
  }
</div>
