<!-- Question -->
<div class="form-header">
  <div class="question-container">
    @if (bilingual) {
      <app-latex-textarea
        [label]="questionAPlaceholder"
        [value]="task.question.A"
        (valueChange)="updateQuestion($event, 'A')"
      ></app-latex-textarea>

      <app-latex-textarea
        [label]="questionBPlaceholder"
        [value]="task.question.B"
        (valueChange)="updateQuestion($event, 'B')"
      ></app-latex-textarea>
    } @else {
      <app-latex-textarea
        [label]="questionPlaceholder"
        [value]="task.question.A"
        (valueChange)="updateQuestion($event, 'A')"
      ></app-latex-textarea>
    }
  </div>

  @if (bilingual) {
    <mat-divider class="divider"></mat-divider>
  }
</div>
