<div class="taskPool_container">
  <div class="header">
    <span>Exams</span>
  </div>

  <div class="viewBar_wrapper">
    <!-- Left side: Filter buttons -->
    <div class="viewBar_left">
      <button
        class="tab_button"
        [ngClass]="filters.filterRecentlyViewed.active ? 'tab_select' : ''"
        (click)="onRecentlyViewed()"
      >
        Recently Viewed
      </button>
      <button
        class="tab_button"
        [ngClass]="filters.filterMyExams.active ? 'tab_select' : ''"
        (click)="onMyExams()"
      >
        My Exams
      </button>
      <button
        class="tab_button"
        [ngClass]="filters.filterRelevantExams.active ? 'tab_select' : ''"
        (click)="onRelevantExams()"
      >
        Relevant Exams
      </button>
    </div>

    <!-- Right side: Sorting, filtering, and view options -->
    <div class="viewBar_right">
      <!-- Sorting Dropdown -->
      <div class="sortingOptions_wrapper" id="openSortingDropdown">
        <span id="openSortingDropdown">{{ currentSortString() }}</span>
        <div id="openSortingDropdown">
          <mat-icon id="openSortingDropdown" aria-hidden="false"
            >arrow_drop_down</mat-icon
          >
        </div>
        <div
          class="dropdown triangle"
          [ngClass]="{ hide_dropdown: !showDropdowns.sorting }"
        >
          <div class="dropdown_header">Sort by</div>

          <div class="option_container" (click)="onSortAlphabetically()">
            <mat-icon
              class="dropdown_icon_wrapper"
              [ngClass]="!filters.sortAlphabetically.active ? 'hide_icon' : ''"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Alphabetical</span>
          </div>

          <div class="option_container" (click)="onSortSemester()">
            <mat-icon
              class="dropdown_icon_wrapper"
              [ngClass]="!filters.sortSemester.active ? 'hide_icon' : ''"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Created</span>
          </div>

          <div class="option_container" (click)="onSortLastViewed()">
            <mat-icon
              class="dropdown_icon_wrapper"
              [ngClass]="!filters.sortLastViewed.active ? 'hide_icon' : ''"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Last Viewed</span>
          </div>

          <hr class="divider" />
          <div class="dropdown_header">Order</div>

          <div class="option_container" (click)="onSortDescending()">
            <mat-icon
              class="dropdown_icon_wrapper"
              [ngClass]="filters.sortAscending.active ? 'hide_icon' : ''"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>A-Z</span>
          </div>

          <div class="option_container" (click)="onSortAscending()">
            <mat-icon
              class="dropdown_icon_wrapper"
              [ngClass]="filters.sortAscending.active ? '' : 'hide_icon'"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Z-A</span>
          </div>
        </div>
      </div>

      <!-- Filtering Dropdown -->
      <div class="filterOptions_wrapper" id="openFilterDropdown">
        <span id="openFilterDropdown">All files</span>
        <div id="openFilterDropdown">
          <mat-icon id="openFilterDropdown" aria-hidden="false"
            >arrow_drop_down</mat-icon
          >
        </div>

        <div
          class="dropdown triangle"
          [ngClass]="{ hide_dropdown: !showDropdowns.filter }"
        >
          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Alphabetical</span>
          </div>

          <div class="option_container">
            <mat-icon
              class="dropdown_icon_wrapper hide_icon"
              aria-hidden="false"
              >done</mat-icon
            >
            <span>Created</span>
          </div>

          <div class="option_container">
            <mat-icon class="dropdown_icon_wrapper" aria-hidden="false"
              >done</mat-icon
            >
            <span>Last Viewed</span>
          </div>
        </div>
      </div>

      <!-- View Options -->
      <div class="viewOptions_wrapper">
        <div id="viewOption grid" (click)="toggleViewMode('grid')">
          <div [ngClass]="viewMode === 'grid' ? 'viewOptions_select' : ''">
            <mat-icon aria-hidden="false">view_cozy</mat-icon>
          </div>
        </div>
        <div
          class="icon_wrapper"
          id="viewOption row"
          (click)="toggleViewMode('list')"
        >
          <div
            class=""
            id="viewOption row"
            [ngClass]="viewMode === 'list' ? 'viewOptions_select' : ''"
          >
            <mat-icon aria-hidden="false">view_headline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (filteredExams.length === 0) {
    <div class="noExams_container">
      <div class="noExams_text">
        There are no exams available.<br />
        Create and save exams in the 'Add Exam' View to access them here.
      </div>
    </div>
  } @else {
    @if (viewMode === 'grid') {
      <div class="examBrowser_grid_view" @leftRightAnimation>
        @for (exam of filteredExams; track exam._id) {
          <div class="examBrowser_item" (click)="onEdit(exam._id)">
            @if (isDownloadable(exam._id)) {
              <button
                class="download-icon-wrapper"
                matTooltip="Download Generated Exam"
                (click)="onDownload($event, exam._id)"
              >
                <mat-icon>download</mat-icon>
              </button>
            }
            <button
              class="delete-icon-wrapper"
              matTooltip="Delete Exam"
              [matTooltipShowDelay]="500"
              (click)="onDeleteExam($event, exam._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <app-exam-card [name]="exam.courseName" />
          </div>
        }
      </div>
    }

    @if (viewMode === 'list') {
      <div class="examBrowser_table_view">
        <app-exams-table
          [exams]="filteredExams"
          [downloadableJobs]="downloadableJobs"
          (examSelectedEvent)="onEdit($event)"
          (downloadExamEvent)="onDownload($event.event, $event.examId)"
          (deleteExamEvent)="onDeleteExam($event.event, $event.examId)"
        >
        </app-exams-table>
      </div>
    }
  }
</div>
