<h2 mat-dialog-title class="title">Create a new Tag</h2>
<mat-dialog-content class="dialog-content">

    <div class="tag" [ngStyle]="{'backgroundColor': color, color: textColor}">{{name}}</div>


    <div class="customization-container">
        <input class="name-input" type="text" [(ngModel)]="name" placeholder="Tag Name" />
        <div class="bgColorPicker">
            <input type="color" class="color-picker" [(ngModel)]="color" />
        </div>
        <div class="textColorPicker">
            <input type="color" class="color-picker" [(ngModel)]="textColor" />
        </div>

    </div>

    <h3 class="existing-header"> or choose an existing one</h3>
    <div class="existingTag-container">
        @for (tag of tags; track tag.getName())
        {
        <span 
            [ngStyle]="{'backgroundColor': tag.getColor(), 'color': tag.getTextColor()}"
            [mat-dialog-close]="{
                exists: true, 
                name: tag.getName(), 
                color: tag.getColor(), 
                textColor: tag.getTextColor()}"
            class="existingTag" >
            {{tag.getName()}}
        </span>
        }

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="cancel-button" [mat-dialog-close]="false">Cancel</button>
    <button class="create-button"
        [mat-dialog-close]="{exists: false, name: name, color: color, textColor: textColor}">Create</button>
</mat-dialog-actions>