<div class="form-body">
  <div class="header-row solution-header">Manual Text</div>
  @if (bilingual) {
    <app-latex-textarea
      label="Text (DE)"
      [value]="task.question.A"
      (valueChange)="onQuestionChangeDirect($event, 'A')"
      (blur)="updateTask()"
    ></app-latex-textarea>

    <app-latex-textarea
      label="Text (EN)"
      [value]="task.question.B"
      (valueChange)="onQuestionChangeDirect($event, 'B')"
      (blur)="updateTask()"
    ></app-latex-textarea>
  } @else {
    <app-latex-textarea
      label="Text"
      [value]="task.question.A"
      (valueChange)="onQuestionChangeDirect($event, 'A')"
      (blur)="updateTask()"
    ></app-latex-textarea>
  }
</div>

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  [hasNoPoints]="true"
  [hasNoPreview]="true"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
