<app-task-header
  [bilingual]="bilingual"
  [task]="task"
  questionDEPlaceholder="Text Eingeben..."
  questionENPlaceholder="Enter Text..."
  (questionChange)="onQuestionChange($event)"
></app-task-header>

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  [hasNoPoints]="true"
  [hasNoPreview]="true"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
