/* Question */
.question-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-header {
  min-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: var(--mat-sys-primary);
  display: flex;
  align-items: center;
}

/* Toolbar */
mat-icon-button.active {
  border-bottom: 2px var(--mat-sys-primary);
}

.form-toolbar {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.icon_wrapper {
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.icon_wrapper:hover {
  cursor: pointer;
  mat-icon {
    color: var(--mat-sys-primary);
  }
}

.format_icon {
  margin-right: 8px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.full-width {
  width: 100%;
}
