.dialog-header {
  margin-top: 4px;
  color: var(--mat-sys-error);
  position: relative;
  align-items: center;
  display: flex;

  mat-icon {
    margin-right: 8px;
    color: var(--mat-sys-error);
    position: relative;
  }
}

.comparison-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: space-between;
}

.version-card {
  flex: 1;
  border: 2px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
  padding: 15px;
  background: var(--mat-sys-surface-container-low);
  transition: all 0.2s ease-in-out;
  margin: 3px;
  cursor: pointer;

  p {
    margin: 5px 0;
  }

  .note {
    margin-top: 12px;
    font-size: 0.85em;
    font-style: italic;
    color: var(--mat-sys-on-surface-container-low);
  }

  &:hover:not(.selected) {
    border-color: var(--mat-sys-primary);
    background-color: var(--mat-sys-surface-container-high);
  }

  &.selected {
    border-color: var(--mat-sys-primary);
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);

    .note {
      color: var(--mat-sys-on-primary-container);
      opacity: 0.8;
    }
  }
}
