<span mat-dialog-title class="dialog-header">
  <mat-icon>info</mat-icon>
  {{ data.isNewExam ? 'Restorable Draft Found' : 'Unsaved Changes Detected' }}
</span>

<mat-dialog-content>
  @if (!data.isNewExam) {
    <p>
      We found a draft on this computer that is newer than the version on the
      server. Which version would you like to continue working on?
    </p>
  }
  @if (data.isNewExam) {
    <p>
      You have an unsaved exam draft from a previous session. Do you want to
      resume it?
    </p>
  }

  <div class="comparison-container">
    <mat-card
      class="version-card"
      [class.selected]="selectedVersion === 'local'"
      (click)="selectedVersion = 'local'"
    >
      <mat-card-title>Local Draft</mat-card-title>
      @if (data.isNewExam) {
        <p>
          <strong>Name:</strong>
          {{ data.localWrapper.data.courseName }}
        </p>
      }
      <p>
        <strong>Saved:</strong>
        {{ localDate | date: 'medium' : timezone : locale }}
      </p>
      <p><strong>Tasks:</strong> {{ data.localWrapper.data.taskCount }}</p>
      <p><strong>Points:</strong> {{ data.dbExam.points }}</p>

      <p class="note">Recover your unsaved work.</p>
    </mat-card>

    <mat-card
      class="version-card"
      [class.selected]="selectedVersion === 'server'"
      (click)="selectedVersion = 'server'"
    >
      <mat-card-title>{{
        data.isNewExam ? 'Start Fresh' : 'Server Version'
      }}</mat-card-title>
      @if (!data.isNewExam) {
        <p>
          <strong>Saved:</strong>
          {{ dbDate | date: 'medium' : timezone : locale }}
        </p>
        <p><strong>Tasks:</strong> {{ data.dbExam.taskCount }}</p>
        <p><strong>Points:</strong> {{ data.dbExam.points }}</p>
      }
      <p class="note">Discard the draft.</p>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="selectedVersion === 'local'"
  >
    Confirm
  </button>
</mat-dialog-actions>
