<mat-card class="form-card">
  <!-- Question -->
  <div class="form-header">

    <!-- Bilingual -->
    <div *ngIf="bilingual"  class="question-container" [@leftRightAnimation]>
      <div class="question-language-wrapper">
        <span class="language_icon"><img src="german.svg" /></span>
        <div #questionFieldDE contenteditable="true" class="form-question" (focus)="activateFormatButtons()"
          (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event,'DE')"
          [attr.data-placeholder]="'Frage Eingeben...'"></div>
      </div>
      <div class="question-language-wrapper">
        <span class="language_icon"><img src="english.svg" /></span>
        <div #questionFieldEN contenteditable="true" class="form-question" (focus)="activateFormatButtons()"
          (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event, 'EN')"
          [attr.data-placeholder]="'Enter Question...'"></div>
      </div>
    </div>

    <!-- German -->
    <div *ngIf="!bilingual" #questionFieldDE contenteditable="true" class="form-question" 
      (focus)="activateFormatButtons()" (blur)="deactivateFormatButtons($event)" (input)="updateQuestion($event,'DE')"
      [attr.data-placeholder]="'Frage Eingeben...'"></div>
  </div>

  <!-- Buttons for formatting -->
  <div *ngIf="isQuestionActive" [@inOutAnimation] class="form-toolbar">

    <div class="icon_wrapper delete_option_icon" (mousedown)="setQuestionFormat('bold', $event)"
      [ngStyle]="{ 'background-color': isBold ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
      <mat-icon aria-hidden="false" fontIcon="format_bold"></mat-icon>
    </div>

    <div class="icon_wrapper delete_option_icon" (mousedown)="setQuestionFormat('italic', $event)"
      [ngStyle]="{ 'background-color': isItalic ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
      <mat-icon aria-hidden="false" fontIcon="format_italic"></mat-icon>
    </div>

    <div class="icon_wrapper delete_option_icon" (mousedown)="setQuestionFormat('underline', $event)"
      [ngStyle]="{ 'background-color': isUnderline ? 'rgba(0, 0, 0, 0.1)' : 'transparent' }">
      <mat-icon aria-hidden="false" fontIcon="format_underline"></mat-icon>
    </div>
  </div>

  <!-- Answer Options -->
  <div class="form-body">
    <div class="form-option" *ngFor="let option of task.answerOptions; let i = index" [@inOutAnimation]>
      <input type="checkbox" name="multiple-choice" [(ngModel)]="task.answerOptions[i].correct"
        (change)="onOptionCorrectChange()" />


      <!-- Bilingual -->
      <div class="option_language_container" *ngIf="bilingual" >
        <div class="option_language_wrapper">
          <span class="language_icon"><img src="german.svg" /></span>
          <input type="text" [value]="task.answerOptions[i].DE" (keydown.enter)="changeOption($event, i, 'DE' )"
            (blur)="changeOption($event, i, 'DE')" placeholder="Option {{ i + 1 }}" class="form-option-input" />
        </div>
        <div class="option_language_wrapper">
          <span class="language_icon"><img src="english.svg" /></span>
          <input type="text" [value]="task.answerOptions[i].EN" (keydown.enter)="changeOption($event, i, 'EN')"
            (blur)="changeOption($event, i, 'EN')" placeholder="Option {{ i + 1 }}" class="form-option-input" />
        </div>
      </div>

      <!-- German -->
      <input *ngIf="!bilingual" type="text" [value]="task.answerOptions[i].DE" 
        (keydown.enter)="changeOption($event, i, 'DE' )" (blur)="changeOption($event, i, 'DE')"
        placeholder="Option {{ i + 1 }}" class="form-option-input" />



      <div class="icon_wrapper delete_option_icon">
        <mat-icon aria-hidden="false" fontIcon="close" (click)="removeOption(i)"></mat-icon>
      </div>
    </div>

    <!-- add AnswerOption -->
    <div class="add-option">
      <div class="icon_wrapper add_option_icon">
        <mat-icon aria-hidden="false" fontIcon="add_circle" matTooltip="add Option" (click)="addOption()"></mat-icon>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div class="form-footer">
    <div class="footer-actions">
      <div class="icon_wrapper footer_icon">
        <mat-icon aria-hidden="false" fontIcon="content_copy" matTooltip="Copy"></mat-icon>
      </div>

      <div class="icon_wrapper footer_icon_delete">
        <mat-icon aria-hidden="false" fontIcon="delete" matTooltip="Delete" (click)="onDelete()"></mat-icon>
      </div>
    </div>

    <div class="points">
      <mat-label>Points per option</mat-label>
      <input type="number" step="0.5" min="0.5" class="points_input" value="1" [(ngModel)]="pointsPerOption"
        (change)="onPointsChange()" />
    </div>

  </div>
</mat-card>