<div class="form-header">
  <!-- Bilingual -->
  @if (bilingual) {
    <div class="question-container" [@leftRightAnimation]>
      <div class="question-language-wrapper">
        <span class="language_icon"
          ><img [src]="publicPath + 'german.svg'"
        /></span>
        <div
          #questionFieldDE
          contenteditable="true"
          class="form-question"
          (focus)="activateFormatButtons()"
          (blur)="deactivateFormatButtons($event)"
          (input)="updateQuestion($event, 'DE')"
          [attr.data-placeholder]="'Frage Eingeben...'"
        ></div>
      </div>
      <div class="question-language-wrapper">
        <span class="language_icon"
          ><img [src]="publicPath + 'english.svg'"
        /></span>
        <div
          #questionFieldEN
          contenteditable="true"
          class="form-question"
          (focus)="activateFormatButtons()"
          (blur)="deactivateFormatButtons($event)"
          (input)="updateQuestion($event, 'EN')"
          [attr.data-placeholder]="'Enter Question...'"
        ></div>
      </div>
    </div>
  }

  <!-- German -->
  @if (!bilingual) {
    <div
      #questionFieldDE
      contenteditable="true"
      class="form-question"
      (focus)="activateFormatButtons()"
      (blur)="deactivateFormatButtons($event)"
      (input)="updateQuestion($event, 'DE')"
      [attr.data-placeholder]="'Enter Question...'"
    ></div>
  }
</div>

<!-- Buttons for formatting -->
@if (isQuestionActive) {
  <div [@inOutAnimation] class="form-toolbar">
    <div
      class="icon_wrapper style_icon"
      (mousedown)="setQuestionFormat('bold', $event)"
      [ngStyle]="{
        'background-color': isBold ? 'rgba(0, 0, 0, 0.1)' : 'transparent',
      }"
    >
      <mat-icon aria-hidden="false">format_bold</mat-icon>
    </div>
    <div
      class="icon_wrapper style_icon"
      (mousedown)="setQuestionFormat('italic', $event)"
      [ngStyle]="{
        'background-color': isItalic ? 'rgba(0, 0, 0, 0.1)' : 'transparent',
      }"
    >
      <mat-icon aria-hidden="false">format_italic</mat-icon>
    </div>
    <div
      class="icon_wrapper style_icon"
      (mousedown)="setQuestionFormat('underline', $event)"
      [ngStyle]="{
        'background-color': isUnderline ? 'rgba(0, 0, 0, 0.1)' : 'transparent',
      }"
    >
      <mat-icon aria-hidden="false">format_underlined</mat-icon>
    </div>
  </div>
}

<!-- Solution -->
@if (!bilingual) {
  <div class="form-body">
    <span class="solution_input_label">Solution:</span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.DE"
      (blur)="updateTask()"
    ></textarea>
  </div>
}

<!-- Bilingual -->
@if (bilingual) {
  <div class="form-body solution_container">
    <span class="solution_input_label">
      <span class="language_icon"
        ><img [src]="publicPath + 'german.svg'"
      /></span>
      Lösung:
    </span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.DE"
      (blur)="updateTask()"
    ></textarea>
    <span class="solution_input_label" style="margin-top: 16px">
      <span class="language_icon"
        ><img [src]="publicPath + 'english.svg'"
      /></span>
      Solution:
    </span>
    <textarea
      class="solution_input"
      [(ngModel)]="this.task.solution.EN"
      (blur)="updateTask()"
    ></textarea>
  </div>
}

<app-task-footer
  [task]="task"
  [isModifiedPoolTask]="isModifiedPoolTask"
  (deleteEvent)="onDelete()"
  (createNewTaskEvent)="onCreateNewTaskChange($event)"
  (newTagEvent)="onAddTag()"
  (previewEvent)="onPreview()"
  (taskChangeEvent)="updateTask()"
>
</app-task-footer>
