<div class="view_container">
    <div class="header">
        <span>Search Results</span>
    </div>

    <div class="questionMatches-container" *ngIf="questionMatches.length > 0">
        <div class="questionMatches-list">
            @for (question of questionMatches; track $index) {
            <app-task-pool-card [task]="question"></app-task-pool-card>
            }
        </div>
    </div>

    <div class="tag-list-container" *ngIf="tagRefs.length > 0">
        @for (tagRef of tagRefs; track $index){

        <div class="tag-container">
            <span class="tag"
                [ngStyle]="{'backgroundColor': tagRef.tag.getColor(), 'color': tagRef.tag.getTextColor()}">{{tagRef.tag.getName()}}</span>
            <div class="tag-usedByList">
                @for (exam$ of tagRef.exams; track $index) {
                <app-exam-card *ngIf="(exam$ |async) as exam" [name]=" exam.courseName"
                    (click)="onExamClick(exam)"></app-exam-card>
                }
                @for (task$ of tagRef.tasks; track $index) {
                <app-task-pool-card *ngIf="(task$ | async) as task" [task]="task"></app-task-pool-card>
                }
            </div>
        </div>
        }

    </div>
</div>