.editExam_container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 65px);
  flex-wrap: nowrap;
  color: var(--color-text);
  background-color: var(--color-background);
}

.icon_wrapper {
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/*------------ [ left ] ------------*/
.left_container {
  width: 15%;
  padding: 10px 1% 10px 1%;
  display: flex;
  flex-direction: column;
}

.add_tasks_container {
  background-color: var(--color-bg-accent);
  height: 70%;
  border-radius: 15px;
  padding: 4px 10px 4px 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.task_wrapper {
  margin-left: 1%;
}

.task_wrapper:hover {
  cursor: grab;
}

.task_wrapper:active {
  cursor: grabbing;
}

/*------------ [ total Points ] ------------*/
.total_points {
  padding: 4px 10px 4px 10px;
  color: var(--color-dark-gray);
}

/*------------ [ center ] ------------*/
.exam_name {
  margin: 16px;
}

.center_container {
  width: 60%;
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: column;
}

/*------------ [ ToolBar ] ------------*/
.viewBar_spacer {
  height: 5%;
}

.viewBar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: var(--color-bg-accent);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px;
  flex-grow: 1;
  min-height: 64px;
  width: 100%;
  flex-wrap: wrap;
}

.bar_icon {
  color: var(--color-icon);
  margin-right: 1%;
}

.bar-icon :last-child {
  margin-right: 0;
}

.bar_icon:hover {
  cursor: pointer;
  background-color: #0000001a;
}

.view_wrapper {
  border: solid 1px;
  border-color: var(--border-color);
  margin-top: 3%;
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab_holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-color: var(--border-color);
  user-select: none;
}

.tab {
  font-weight: 550;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  color: var(--color-text);
}

.tab:hover {
  background-color: var(--color-bg-accent);
}

.tab:active {
  background-color: #0000002a;
}

.tab_slider {
  pointer-events: none;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  z-index: 1;
}

.empty_group_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color-dark-gray);
  text-align: center;
  flex-direction: column;
  user-select: none;
}

.delete_group {
  cursor: pointer;
}

.delete_group:hover {
  color: var(--color-warn);
}

.delete_group:active {
  color: darkred;
}

.task_group_title {
  margin-top: 16px !important;
}

.task_number {
  display: table;
  margin: auto;
  margin-top: 16px;
  color: var(--color-dark-gray);
}

.form-card {
  padding: 16px;
  margin: auto;
  max-width: 600px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--color-task-card);
  position: relative;
}

// Drag and Drop Styles
.drag_handle {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task_group_container.cdk-drop-list-dragging
  .form-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*------------ [ right ] ------------*/
.right_container {
  width: 25%;
  border-left: solid 1px;
  border-color: var(--border-color);
  padding: 10px 1% 10px 1%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/*------------ [ Custom Scrollbar ] ------------*/
.preview-tab {
  position: relative;
  color: var(--color-warn);
}

.notification-dot {
  height: 8px;
  width: 8px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.preview_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

iframe {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.no-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color-text-secondary);
  font-size: 1.2em;
}
