<div class="editExam_container">
  <div class="main_container">
    <mat-card class="toolbar">
      <div class="icon_wrapper bar_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Preview"
          (click)="onPreview()"
          data-cy="preview-btn"
          >remove_red_eye</mat-icon
        >
      </div>
      <div class="icon_wrapper bar_icon">
        @if (!isUpdateMode) {
          <mat-icon
            aria-hidden="false"
            matTooltip="Save"
            (click)="onSave()"
            data-cy="save"
            >save</mat-icon
          >
        }
        @if (isUpdateMode) {
          <mat-icon aria-hidden="false" matTooltip="Update" (click)="onUpdate()"
            >save</mat-icon
          >
        }
      </div>
      <h3 class="exam_name" data-cy="exam-name-display">
        {{ exam.courseName }}
      </h3>

      <span class="spacer"></span>

      <div class="icon_wrapper bar_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Exam Setup"
          (click)="onSetup()"
          data-cy="exam-setup"
          >tune</mat-icon
        >
      </div>
    </mat-card>

    <div class="view_wrapper" data-cy="dropzone">
      <mat-tab-group
        class="assignment-tabs"
        mat-stretch-tabs="false"
        [selectedIndex]="currentGroupView"
        (selectedIndexChange)="onTabChange($event)"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropTab($event)"
        cdkDropListElementContainer=".mat-mdc-tab-labels"
        cdkScrollable
        animationDuration="400"
      >
        @for (group of exam.tasks; track group; let g = $index) {
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                cdkDrag
                cdkDragPreviewClass="example-drag-tabs-preview"
                cdkDragRootElement=".mat-mdc-tab"
                >{{ tabLabel(g) }}</span
              >
            </ng-template>
            <!--@if (g === 0) {
              <div
                class="tab_slider"
                [style.transform]="
                  'translateX(' + currentGroupView * 100 + '%)'
                "
              ></div>
            }-->
            <mat-card class="task_group_title form-card-header">
              <app-task-group-title
                class="task_container"
                [assignmentNumber]="g + 1"
                [bilingual]="exam.bilingual"
                [preTitle]="exam.tasks[g].groupTitle"
                (titleChangedEvent)="onTitleChange($event)"
              />
            </mat-card>

            @if (exam.tasks[g].tasks.length === 0) {
              <div class="empty_group_holder">
                No tasks in this group yet. Drag and drop tasks
                <br />or
                <span (click)="deleteTab(g)" class="delete_group">
                  <mat-icon>delete</mat-icon
                  ><span class="delete_group_text">delete this group</span>
                </span>
              </div>
            }
            <div
              cdkDropList
              [id]="'task-group-' + g"
              [cdkDropListData]="exam.tasks[g].tasks"
              [cdkDropListConnectedTo]="[
                'add-tasks-drop-list',
                'pool-tasks-drop-list',
              ]"
              (cdkDropListDropped)="reorderDrop($event)"
              class="task_group_container"
            >
              @for (
                task of exam.tasks[g].tasks;
                track task._id ?? i;
                let i = $index
              ) {
                <app-task-card
                  [task]="exam.tasks[g].tasks[i]"
                  [subtaskId]="calcTaskChar(i, g)"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(exam.tasks[g].tasks[i]._id)
                  "
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
              }
            </div>
          </mat-tab>
        }

        @if (previewPdfUrl) {
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                class="preview-tab"
                [matBadge]="previewTabNotification ? '' : '!'"
                matBadgeOverlap="false"
                [matTooltip]="
                  previewTabNotification ? 'Preview' : 'Preview (outdated)'
                "
                >Preview</span
              >
            </ng-template>
            <div class="preview_container">
              <iframe [src]="previewPdfUrl" width="100%" height="100%"></iframe>
            </div>
          </mat-tab>
        }
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              mat-icon-button
              class="new-assignment"
              matTooltip="New Group"
              [matTooltipShowDelay]="200"
              aria-label="Add New Group"
            >
              <mat-icon aria-hidden="false">add</mat-icon>
            </span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="side_container">
    <mat-card class="tasks_container">
      <mat-card-header>Add New Tasks</mat-card-header>
      <div
        cdkDropList
        id="add-tasks-drop-list"
        cdkDropListSortingDisabled
        [cdkDropListData]="taskDefs"
        [cdkDropListConnectedTo]="taskGroupDropListIds"
        class="add-tasks-drop-list"
      >
        @for (def of taskDefs; track def.type) {
          <app-AddTask
            class="task_wrapper"
            [name]="def.name"
            [iconName]="def.iconName"
            [attr.data-cy]="def.dataCy ?? null"
            [dragData]="{ source: 'new', taskType: 'new_' + def.type }"
            [color]="colorProvider.getTaskColor(def.type)"
          ></app-AddTask>
        }
      </div>
    </mat-card>

    <mat-card class="tasks_container">
      <mat-card-header>Existing Tasks Pool</mat-card-header>
      <app-draggable-pool
        [refreshPool$]="refreshPool$"
        [connectedTo]="taskGroupDropListIds"
      >
      </app-draggable-pool>
    </mat-card>

    <mat-card class="stats_card">
      <div class="stats_grid">
        <strong class="stat_label">Tasks:</strong>
        <span class="stat_value">{{ exam.taskCount ?? 0 }}</span>
        <span class="stat_icon"></span>

        <strong class="stat_label">Points:</strong>
        <span class="stat_value">{{ exam.points ?? 0 }}</span>
        <span class="stat_icon"></span>

        <strong class="stat_label">Pages:</strong>
        <span class="stat_value">{{ exam.pageCount ?? 0 }}</span>
        <span class="stat_icon">
          <mat-icon matTooltip="Minimum">info</mat-icon>
        </span>
      </div>
    </mat-card>
  </div>
</div>
