<div class="editExam_container">
  <div class="left_container">
    <div class="add_tasks_container">
      <app-AddTask
        class="task_wrapper"
        [name]="'Multiple Choice'"
        [color]="colorProvider.getTaskColor('multipleChoice')"
        [iconName]="'multipleChoice.svg'"
        id="new_multipleChoice"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      >
      </app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'Short Answer'"
        [color]="colorProvider.getTaskColor('shortAnswer')"
        [iconName]="'shortAnswer.svg'"
        id="new_shortAnswer"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
        data-cy="short-answer"
      ></app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'New Page'"
        [color]="colorProvider.getTaskColor('newPage')"
        [iconName]="'newPage.svg'"
        id="new_newPage"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      ></app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'Picture Task'"
        [color]="colorProvider.getTaskColor('pictureTask')"
        [iconName]="'pictureTask.svg'"
        id="new_picture"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      ></app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'Latex Task'"
        [color]="colorProvider.getTaskColor('latex')"
        [iconName]="'latex.svg'"
        id="new_latex"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      ></app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'Table Task'"
        [color]="colorProvider.getTaskColor('table')"
        [iconName]="'table.svg'"
        id="new_table"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      ></app-AddTask>
      <app-AddTask
        class="task_wrapper"
        [name]="'Manual Text'"
        [color]="colorProvider.getTaskColor('manualText')"
        [iconName]="'manualText.svg'"
        id="new_manualText"
        draggable="true"
        (dragstart)="dragStart($event)"
        (dragend)="drop($event)"
      ></app-AddTask>
    </div>

    <div class="total_points">
      <span>total points: {{ totalPoints }}</span>
    </div>
  </div>

  <div class="center_container">
    <div class="viewBar_wrapper">
      <div class="icon_wrapper bar_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Preview"
          (click)="onPreview()"
          data-cy="preview-btn"
          >remove_red_eye</mat-icon
        >
      </div>
      <div class="icon_wrapper bar_icon">
        @if (!isUpdateMode) {
          <mat-icon
            aria-hidden="false"
            matTooltip="Save"
            (click)="onSave()"
            data-cy="save"
            >save</mat-icon
          >
        }
        @if (isUpdateMode) {
          <mat-icon aria-hidden="false" matTooltip="Update" (click)="onUpdate()"
            >save</mat-icon
          >
        }
      </div>
      <div class="icon_wrapper bar_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Generate all Exams"
          (click)="onMassExam()"
          >download</mat-icon
        >
      </div>
      <h3 class="exam_name" data-cy="exam-name-display">
        {{ exam.courseName }}
      </h3>

      <span class="spacer"></span>

      <div class="icon_wrapper bar_icon">
        <mat-icon
          aria-hidden="false"
          matTooltip="Exam Setup"
          (click)="onSetup()"
          data-cy="exam-setup"
          >tune</mat-icon
        >
      </div>
    </div>

    <div
      class="view_wrapper"
      id="drop-list"
      (dragover)="dragOverDropzone($event)"
      (dragleave)="inDropzone = false"
      data-cy="dropzone"
    >
      <div class="tab_holder">
        @for (
          tab of [].constructor(exam.tasks.length);
          track tab;
          let i = $index
        ) {
          <button class="tab" (click)="changeTab(i)">
            {{
              exam.tasks.length < 5
                ? 'Assignment ' + (i + 1)
                : i < 9
                  ? 'A 0' + (i + 1)
                  : 'A ' + (i + 1)
            }}
            @if (i === 0) {
              <div
                class="tab_slider"
                [style.transform]="
                  'translateX(' + currentGroupView * 100 + '%)'
                "
              ></div>
            }
          </button>
        }
        <button
          class="tab"
          (click)="addTab()"
          matTooltip="add Group"
          [matTooltipShowDelay]="800"
        >
          <mat-icon aria-hidden="false">add</mat-icon>
        </button>
        @if (previewPdfUrl) {
          <button
            class="tab preview-tab"
            (click)="changeTab(exam.tasks.length)"
          >
            Preview
            @if (previewTabNotification) {
              <span class="notification-dot"></span>
            }
          </button>
        }
      </div>

      @if (!isPreviewTabActive && exam.tasks[currentGroupView]?.tasks) {
        @if (exam.tasks[currentGroupView].tasks.length === 0) {
          <div class="empty_group_holder">
            No tasks in this group yet. Drag and drop tasks from the sides to
            add tasks
            <br />or
            <span (click)="deleteTab()" class="delete_group">
              <u>delete this group</u>
            </span>
          </div>
        }
        <div
          cdkDropList
          (cdkDropListDropped)="reorderDrop($event)"
          class="task_group_container"
        >
          @for (
            task of exam.tasks[currentGroupView].tasks;
            track task._id;
            let i = $index
          ) {
            @if (i === 0) {
              <mat-card
                class="task_group_title form-card"
                style="border-color: var(--color-text)"
              >
                <app-task-group-title
                  class="task_container"
                  [assignmentNumber]="currentGroupView + 1"
                  [bilingual]="exam.bilingual"
                  [preTitle]="exam.tasks[currentGroupView].groupTitle"
                  (titleChangedEvent)="onTitleChange($event)"
                />
              </mat-card>
            }
            @if (task.type !== 'manualText' && task.type !== 'newPage') {
              <span class="task_number">
                Assignment {{ currentGroupView + 1 }}.{{ calcTaskChar(i) }}
              </span>
            }
            @if (task.type === 'manualText') {
              <span class="task_number"> Manual Text </span>
            }
            @if (task.type === 'newPage') {
              <span class="task_number"> New Page </span>
            }
            @if (task.type === 'multipleChoice') {
              <mat-card class="form-card" cdkDrag>
                <app-multiplechoiceTask
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'shortAnswer') {
              <mat-card class="form-card" cdkDrag>
                <app-short-answer-task
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'pictureTask') {
              <mat-card class="form-card" cdkDrag>
                <app-picture-task
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'latex') {
              <mat-card class="form-card" cdkDrag>
                <app-latex-task
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'table') {
              <mat-card class="form-card" cdkDrag>
                <app-table-task
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'manualText') {
              <mat-card class="form-card" cdkDrag>
                <app-manual-text
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  [isModifiedPoolTask]="
                    isModifiedPoolTask(
                      exam.tasks[currentGroupView].tasks[i]._id
                    )
                  "
                  (createNewTaskEvent)="onCreateNewTaskChange($event, i)"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                  (previewEvent)="onTaskPreview(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
            @if (task.type === 'newPage') {
              <mat-card class="form-card" cdkDrag>
                <app-new-page
                  class="task_container"
                  [taskId]="exam.tasks[currentGroupView].tasks[i]._id"
                  [preTask]="exam.tasks[currentGroupView].tasks[i]"
                  [bilingual]="exam.bilingual"
                  (deleteEvent)="deleteTask(i)"
                  (taskChangeEvent)="onTaskChange($event, i)"
                  (newTagEvent)="onAddTag(i)"
                />
                <div class="drag_handle" cdkDragHandle>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
              </mat-card>
            }
          }
        </div>
      }

      @if (isPreviewTabActive) {
        <div class="preview_container">
          @if (previewPdfUrl) {
            <iframe [src]="previewPdfUrl" width="100%" height="100%"></iframe>
          }
          @if (!previewPdfUrl) {
            <div class="no-preview">
              Click the preview button to generate a preview.
            </div>
          }
        </div>
      }
    </div>
  </div>

  <div class="right_container">
    pool

    <app-draggable-pool
      [refreshPool$]="refreshPool$"
      (dragStart)="dragStart($event)"
      (drop)="drop($event)"
    >
    </app-draggable-pool>
  </div>
</div>
